[Unit]
Description=Aria2 Service
After=network.target

[Service]
User={{ web_user }}
Group={{ web_user }}
ExecStart=/usr/bin/aria2c --conf-path=/etc/aria2/aria2.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
