[defaults]
# --- 基础配置 ---
inventory            = hosts.yml
host_key_checking    = False
stdout_callback      = yaml
retry_files_enabled  = False
deprecation_warnings = False

# --- 性能优化 ---
timeout              = 30
forks                = 10

[ssh_connection]
# --- 极致加速 (核心部分) ---
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s
