server {
    listen 80;
    server_name {{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ domain }};

    ssl_certificate {{ ssl_cert_dir }}/{{ domain }}/fullchain.pem;
    ssl_certificate_key {{ ssl_cert_dir }}/{{ domain }}/privkey.pem;

    # 大文件性能优化
    sendfile on;
    tcp_nopush on;
    client_max_body_size 0;

    location /webdav {
        alias {{ shared_data_dir }};
        autoindex on;
        
        # 动态引用变量名
        add_after_body /{{ webdav_footer_name }};

        dav_methods PUT DELETE MKCOL COPY MOVE;
        create_full_put_path on;
        dav_access user:rw group:rw all:r;

        auth_basic "Storage";
        auth_basic_user_file {{ webdav_htpasswd_path }};
    }

    # 静态资源匹配也改为变量化
    location = /{{ webdav_footer_name }} {
        root {{ web_root }};
    }
    
    
    # Aria2 反向代理 (安全隐藏 6800)
    location /jsonrpc {
        proxy_pass http://127.0.0.1:{{ aria2_internal_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    # V2Ray 反向代理 (安全隐藏 10086)
    location /{{ v2ray_path_url }} {
        proxy_pass http://127.0.0.1:{{ v2ray_internal_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    # 混淆状态页 (防爬虫，无日志)
    location = /{{ info_path }} {
        alias {{ shared_data_dir }}/{{ info_path }}.html;
        access_log off;
    }

    # 禁止搜索引擎
    location = /robots.txt {
        alias {{ shared_data_dir }}/robots.txt;
    }
}
