{
  "v": "2",
  "ps": "RackNerd-{{ domain }}",
  "add": "{{ domain }}",
  "port": 443,
  "id": "{{ v2ray_uuid }}",
  "aid": 0,
  "scy": "auto",
  "net": "ws",
  "type": "none",
  "host": "{{ domain }}",
  "path": "/{{ v2ray_path_url }}",
  "tls": "tls",
  "sni": "{{ domain }}",
  "alpn": "http/1.1",
  "fp": "chrome"
}